.sc {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.input {
  display: flex;
  justify-content: center;
//   align-items: flex-end;
  box-shadow: darkgray;
}
.labels {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav{
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4ac14a;
    text-align: center;
    margin-bottom: 10px;
}